### Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from collections import defaultdict

### Loading the datasets

In [2]:
customers = pd.read_csv('Customers_Preprocessed.csv')
products = pd.read_csv('Products.csv')
transactions = pd.read_csv('Transactions_Preprocessed.csv')

### One Hot Encoding

In [3]:
ohe = OneHotEncoder(sparse=False)
region_encoded = ohe.fit_transform(customers[['Region']])
region_encoded

c:\Users\saatv\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [4]:
region_columns = [f"Region_{region}" for region in ohe.categories_[0]]
region_columns

['Region_Asia',
 'Region_Europe',
 'Region_North America',
 'Region_South America']

In [5]:
customers_encoded = pd.DataFrame(region_encoded, columns=region_columns)
customers_encoded

     Region_Asia  Region_Europe  Region_North America  Region_South America
0            0.0            0.0                   0.0                   1.0
1            1.0            0.0                   0.0                   0.0
2            0.0            0.0                   0.0                   1.0
3            0.0            0.0                   0.0                   1.0
4            1.0            0.0                   0.0                   0.0
..           ...            ...                   ...                   ...
195          0.0            1.0                   0.0                   0.0
196          0.0            1.0                   0.0                   0.0
197          0.0            1.0                   0.0                   0.0
198          0.0            1.0                   0.0                   0.0
199          1.0            0.0                   0.0                   0.0

[200 rows x 4 columns]

In [6]:
customers = pd.concat([customers, customers_encoded], axis=1)
customers

,CustomerID,CustomerName,Region,SignupDate,SignupYear,SignupMonth,Region_Asia,Region_Europe,Region_North America,Region_South America
0,C0001,Lawrence Carroll,South America,2022-07-10,2022,2022-07,0.0,0.0,0.0,1.0
1,C0002,Elizabeth Lutz,Asia,2022-02-13,2022,2022-02,1.0,0.0,0.0,0.0
2,C0003,Michael Rivera,South America,2024-03-07,2024,2024-03,0.0,0.0,0.0,1.0
3,C0004,Kathleen Rodriguez,South America,2022-10-09,2022,2022-10,0.0,0.0,0.0,1.0
4,C0005,Laura Weber,Asia,2022-08-15,2022,2022-08,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
195,C0196,Laura Watts,Europe,2022-06-07,2022,2022-06,0.0,1.0,0.0,0.0
196,C0197,Christina Harvey,Europe,2023-03-21,2023,2023-03,0.0,1.0,0.0,0.0
197,C0198,Rebecca Ray,Europe,2022-02-27,2022,2022-02,0.0,1.0,0.0,0.0
198,C0199,Andrea Jenkins,Europe,2022-12-03,2022,2022-12,0.0,1.0,0.0,0.0
199,C0200,Kelly Cross,Asia,2023-06-11,2023,2023-06,1.0,0.0,0.0,0.0

### Aggregating transaction data by CustomerID

We are going to analyse each customer's buying behavior using aggregate values like TotalSpending, TotalQuantity and UniqueProducts

In [7]:
transaction_features = transactions.groupby('CustomerID').agg({
    'TotalValue': 'sum',
    'Quantity': 'sum',
    'ProductID': 'nunique'
}).rename(columns={
    'TotalValue': 'TotalSpending',
    'Quantity': 'TotalQuantity',
    'ProductID': 'UniqueProducts'
}).reset_index()

transaction_features

    CustomerID  TotalSpending  TotalQuantity  UniqueProducts
0        C0001        3354.52             12               5
1        C0002        1862.74             10               4
2        C0003        2725.38             14               4
3        C0004        5354.88             23               8
4        C0005        2034.24              7               3
..         ...            ...            ...             ...
194      C0196        4982.88             12               3
195      C0197        1928.65              9               3
196      C0198         931.83              3               2
197      C0199        1979.28              9               4
198      C0200        4758.60             16               5

[199 rows x 4 columns]

In [8]:
customer_features = customers.merge(transaction_features, on='CustomerID', how='left').fillna(0)
customer_features

,CustomerID,CustomerName,Region,SignupDate,SignupYear,SignupMonth,Region_Asia,Region_Europe,Region_North America,Region_South America,TotalSpending,TotalQuantity,UniqueProducts
0,C0001,Lawrence Carroll,South America,2022-07-10,2022,2022-07,0.0,0.0,0.0,1.0,3354.52,12.0,5.0
1,C0002,Elizabeth Lutz,Asia,2022-02-13,2022,2022-02,1.0,0.0,0.0,0.0,1862.74,10.0,4.0
2,C0003,Michael Rivera,South America,2024-03-07,2024,2024-03,0.0,0.0,0.0,1.0,2725.38,14.0,4.0
3,C0004,Kathleen Rodriguez,South America,2022-10-09,2022,2022-10,0.0,0.0,0.0,1.0,5354.88,23.0,8.0
4,C0005,Laura Weber,Asia,2022-08-15,2022,2022-08,1.0,0.0,0.0,0.0,2034.24,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,C0196,Laura Watts,Europe,2022-06-07,2022,2022-06,0.0,1.0,0.0,0.0,4982.88,12.0,3.0
196,C0197,Christina Harvey,Europe,2023-03-21,2023,2023-03,0.0,1.0,0.0,0.0,1928.65,9.0,3.0
197,C0198,Rebecca Ray,Europe,2022-02-27,2022,2022-02,0.0,1.0,0.0,0.0,931.83,3.0,2.0
198,C0199,Andrea Jenkins,Europe,2022-12-03,2022,2022-12,0.0,1.0,0.0,0.0,1979.28,9.0,4.0
199,C0200,Kelly Cross,Asia,2023-06-11,2023,2023-06,1.0,0.0,0.0,0.0,4758.60,16.0,5.0

### Data Normalization

In [9]:
scaler = MinMaxScaler()
num_features = ['SignupYear', 'TotalSpending', 'TotalQuantity', 'UniqueProducts']
customer_features[num_features] = scaler.fit_transform(customer_features[num_features])
customer_features

,CustomerID,CustomerName,Region,SignupDate,SignupYear,SignupMonth,Region_Asia,Region_Europe,Region_North America,Region_South America,TotalSpending,TotalQuantity,UniqueProducts
0,C0001,Lawrence Carroll,South America,2022-07-10,0.0,2022-07,0.0,0.0,0.0,1.0,0.314274,0.37500,0.5
1,C0002,Elizabeth Lutz,Asia,2022-02-13,0.0,2022-02,1.0,0.0,0.0,0.0,0.174514,0.31250,0.4
2,C0003,Michael Rivera,South America,2024-03-07,1.0,2024-03,0.0,0.0,0.0,1.0,0.255332,0.43750,0.4
3,C0004,Kathleen Rodriguez,South America,2022-10-09,0.0,2022-10,0.0,0.0,0.0,1.0,0.501681,0.71875,0.8
4,C0005,Laura Weber,Asia,2022-08-15,0.0,2022-08,1.0,0.0,0.0,0.0,0.190581,0.21875,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,C0196,Laura Watts,Europe,2022-06-07,0.0,2022-06,0.0,1.0,0.0,0.0,0.466830,0.37500,0.3
196,C0197,Christina Harvey,Europe,2023-03-21,0.5,2023-03,0.0,1.0,0.0,0.0,0.180689,0.28125,0.3
197,C0198,Rebecca Ray,Europe,2022-02-27,0.0,2022-02,0.0,1.0,0.0,0.0,0.087300,0.09375,0.2
198,C0199,Andrea Jenkins,Europe,2022-12-03,0.0,2022-12,0.0,1.0,0.0,0.0,0.185432,0.28125,0.4
199,C0200,Kelly Cross,Asia,2023-06-11,0.5,2023-06,1.0,0.0,0.0,0.0,0.445818,0.50000,0.5

In [10]:
all_features = customer_features[region_columns + num_features]
all_features

,Region_Asia,Region_Europe,Region_North America,Region_South America,SignupYear,TotalSpending,TotalQuantity,UniqueProducts
0,0.0,0.0,0.0,1.0,0.0,0.314274,0.37500,0.5
1,1.0,0.0,0.0,0.0,0.0,0.174514,0.31250,0.4
2,0.0,0.0,0.0,1.0,1.0,0.255332,0.43750,0.4
3,0.0,0.0,0.0,1.0,0.0,0.501681,0.71875,0.8
4,1.0,0.0,0.0,0.0,0.0,0.190581,0.21875,0.3
...,...,...,...,...,...,...,...,...
195,0.0,1.0,0.0,0.0,0.0,0.466830,0.37500,0.3
196,0.0,1.0,0.0,0.0,0.5,0.180689,0.28125,0.3
197,0.0,1.0,0.0,0.0,0.0,0.087300,0.09375,0.2
198,0.0,1.0,0.0,0.0,0.0,0.185432,0.28125,0.4
199,1.0,0.0,0.0,0.0,0.5,0.445818,0.50000,0.5

### Cosine Similarity

Cosine Similarity measures the similarity between two vectors.

In [11]:
similarity_matrix = cosine_similarity(all_features)
similarity_matrix

array([[1.        , 0.26859613, 0.76129382, ..., 0.12962216, 0.26411648,
        0.33903986],
       [0.26859613, 1.        , 0.19343222, ..., 0.1067549 , 0.21881319,
        0.90512711],
       [0.76129382, 0.19343222, 1.        , ..., 0.08969041, 0.18833544,
        0.47582083],
       ...,
       [0.12962216, 0.1067549 , 0.08969041, ..., 1.        , 0.96781928,
        0.12949085],
       [0.26411648, 0.21881319, 0.18833544, ..., 0.96781928, 1.        ,
        0.26869925],
       [0.33903986, 0.90512711, 0.47582083, ..., 0.12949085, 0.26869925,
        1.        ]])

In [12]:
lookalike_results = defaultdict(list)

for i, customer_id in enumerate(customer_features['CustomerID'][:]):
    similarity_scores = similarity_matrix[i]
    top_indices = np.argsort(-similarity_scores)[1:4]
    top_customers = customer_features.iloc[top_indices][['CustomerID']].values.flatten()
    top_scores = similarity_scores[top_indices]
    
    lookalike_results[customer_id] = list(zip(top_customers, top_scores))

lookalike_results

defaultdict(list,
            {'C0001': [('C0174', 0.9994009524324653),
              ('C0011', 0.9993929212174698),
              ('C0152', 0.9987651788245898)],
             'C0002': [('C0027', 0.9972484435911428),
              ('C0159', 0.9950099901581653),
              ('C0005', 0.9933284578274642)],
             'C0003': [('C0190', 0.9980730091178139),
              ('C0031', 0.9960594812464495),
              ('C0191', 0.9960222683025667)],
             'C0004': [('C0113', 0.998437721375097),
              ('C0104', 0.9965264907801978),
              ('C0102', 0.9964462978534467)],
             'C0005': [('C0159', 0.9996045162448027),
              ('C0007', 0.9986136741514055),
              ('C0002', 0.9933284578274642)],
             'C0006': [('C0048', 0.9978218308503074),
              ('C0187', 0.9977391266933187),
              ('C0137', 0.9963436081993936)],
             'C0007': [('C0159', 0.9990960415792354),
              ('C0005', 0.9986136741514055),
              ('C0002', 0.9931032440842279)],
             'C0008': [('C0098', 0.9914403319247044),
              ('C0049', 0.9913163451672555),
              ('C0194', 0.9867668486247554)],
             'C0009': [('C0061', 0.9921726585988702),
              ('C0121', 0.9888097225500062),
              ('C0119', 0.9850841387497937)],
             'C0010': [('C0166', 0.9980690095811071),
              ('C0199', 0.9965956640371921),
              ('C0073', 0.994934004714027)],
             'C0011': [('C0001', 0.9993929212174698),
              ('C0174', 0.9979168439784929),
              ('C0152', 0.9971497927945967)],
             'C0012': [('C0039', 0.99854931923928),
              ('C0013', 0.9977275290972034),
              ('C0195', 0.9975600592533217)],
             'C0013': [('C0012', 0.9977275290972034),
              ('C0087', 0.9976830617825865),
              ('C0039', 0.9949176378655618)],
             'C0014': [('C0063', 0.9931371904114961),
              ('C0089', 0.9816462297616678),
              ('C0167', 0.9749147785525115)],
             'C0015': [('C0042', 0.990745388417061),
              ('C0094', 0.9792266951798294),
              ('C0185', 0.9745297111010223)],
             'C0016': [('C0183', 0.9992518786976379),
              ('C0154', 0.998062736048836),
              ('C0055', 0.997379404856679)],
             'C0017': [('C0041', 0.9940206614500897),
              ('C0075', 0.9936457545226498),
              ('C0051', 0.992469179627502)],
             'C0018': [('C0046', 0.9937654266538506),
              ('C0183', 0.9929891720465573),
              ('C0117', 0.9922975349916568)],
             'C0019': [('C0069', 0.9960032207136575),
              ('C0164', 0.995080395277914),
              ('C0119', 0.989238903368389)],
             'C0020': [('C0058', 0.9984372233711026),
              ('C0033', 0.9984078363477),
              ('C0144', 0.9916254264829135)],
             'C0021': [('C0090', 0.996447785070958),
              ('C0101', 0.9960975556606614),
              ('C0145', 0.9959061848282188)],
             'C0022': [('C0200', 0.9973708928483915),
              ('C0090', 0.9972153754625104),
              ('C0101', 0.9943244902044389)],
             'C0023': [('C0053', 0.9964338292829302),
              ('C0179', 0.994802888730681),
              ('C0086', 0.9853694329777488)],
             'C0024': [('C0194', 0.9999122869052683),
              ('C0047', 0.9989930664898932),
              ('C0098', 0.9981403462639572)],
             'C0025': [('C0192', 0.9992020435643434),
              ('C0071', 0.9959899670574784),
              ('C0112', 0.9956809596066465)],
             'C0026': [('C0117', 0.999606300471337),
              ('C0183', 0.9980572599179441),
              ('C0035', 0.9976579772994676)],
             'C0027': [('C0002', 0.9972484435911428),
              ('C0106', 0.9967910053839968),
              ('C0134', 0.9936305815598201)],
             'C0028': [('C0143', 0.9983963125376489),
              ('C0054', 0.9944287506976888),
              ('C0136', 0.9915206178032134)],
             'C0029': [('C0125', 0.9954513886583448),
              ('C0176', 0.9935618730228181),
              ('C0131', 0.9933447022865548)],
             'C0030': [('C0072', 0.9996519730675864),
              ('C0055', 0.9996353188389281),
              ('C0189', 0.999225159245008)],
             'C0031': [('C0076', 0.9978092097758744),
              ('C0129', 0.9974897446848581),
              ('C0052', 0.9974070591819069)],
             'C0032': [('C0085', 0.9917204603595414),
              ('C0129', 0.9910300235151445),
              ('C0151', 0.9899315431366171)],
             'C0033': [('C0058', 0.9996059652108122),
              ('C0020', 0.9984078363477),
              ('C0144', 0.9864608025573307)],
             'C0034': [('C0067', 0.9954663667626811),
              ('C0068', 0.9816516849244763),
              ('C0094', 0.9704050307946321)],
             'C0035': [('C0189', 0.9979646607436152),
              ('C0026', 0.9976579772994676),
              ('C0055', 0.9974208341661576)],
             'C0036': [('C0050', 0.9972512054162177),
              ('C0144', 0.9971216623246275),
              ('C0035', 0.9963624475263039)],
             'C0037': [('C0149', 0.999741481055987),
              ('C0064', 0.9996896922085182),
              ('C0170', 0.9989131096247029)],
             'C0038': [('C0160', 0.9995981466772184),
              ('C0125', 0.9943791398517495),
              ('C0029', 0.9929971852487436)],
             'C0039': [('C0195', 0.9997995718615014),
              ('C0012', 0.99854931923928),
              ('C0126', 0.995684638422197)],
             'C0040': [('C0007', 0.98793092502873),
              ('C0159', 0.982147513084326),
              ('C0005', 0.9797617276272285)],
             'C0041': [('C0017', 0.9940206614500897),
              ('C0075', 0.9929886758443418),
              ('C0051', 0.9918572913720656)],
             'C0042': [('C0185', 0.9944392793513768),
              ('C0015', 0.990745388417061),
              ('C0094', 0.9893296638075783)],
             'C0043': [('C0186', 0.9984590352736639),
              ('C0123', 0.994906924867191),
              ('C0140', 0.9942524929081601)],
             'C0044': [('C0066', 0.9986158382680075),
              ('C0167', 0.9980899998768806),
              ('C0089', 0.9969877390592432)],
             'C0045': [('C0173', 0.9958745799868263),
              ('C0162', 0.9932152111916437),
              ('C0175', 0.989341280867061)],
             'C0046': [('C0059', 0.9968562650101443),
              ('C0018', 0.9937654266538506),
              ('C0194', 0.9926459333479019)],
             'C0047': [('C0024', 0.9989930664898932),
              ('C0098', 0.9985024270829038),
              ('C0194', 0.9983625193220402)],
             'C0048': [('C0137', 0.9993922535765488),
              ('C0187', 0.9988273804655937),
              ('C0191', 0.9986279797599992)],
             'C0049': [('C0098', 0.9974856447461923),
              ('C0047', 0.9959255150638773),
              ('C0024', 0.9945678110055416)],
             'C0050': [('C0036', 0.9972512054162177),
              ('C0035', 0.9966570516362374),
              ('C0026', 0.9947633458452859)],
             'C0051': [('C0100', 0.9975178726992897),
              ('C0017', 0.992469179627502),
              ('C0170', 0.9923141008348477)],
             'C0052': [('C0129', 0.9997531644462248),
              ('C0085', 0.9980470233404627),
              ('C0031', 0.9974070591819069)],
             'C0053': [('C0023', 0.9964338292829302),
              ('C0179', 0.9914093225055026),
              ('C0086', 0.981314488623755)],
             'C0054': [('C0028', 0.9944287506976888),
              ('C0143', 0.9923846289581041),
              ('C0093', 0.9899258075093754)],
             'C0055': [('C0072', 0.9997877646220754),
              ('C0189', 0.9997403308763031),
              ('C0030', 0.9996353188389281)],
             'C0056': [('C0142', 0.9966209042758083),
              ('C0177', 0.9959805787921095),
              ('C0146', 0.9947957670109019)],
             'C0057': [('C0105', 0.9998927888620271),
              ('C0081', 0.9979728972676489),
              ('C0182', 0.9977329263993503)],
             'C0058': [('C0033', 0.9996059652108122),
              ('C0020', 0.9984372233711026),
              ('C0144', 0.9845568809445141)],
             'C0059': [('C0046', 0.9968562650101443),
              ('C0065', 0.9941763383783092),
              ('C0008', 0.9844552584354297)],
             'C0060': [('C0198', 0.9918475626915497),
              ('C0062', 0.9702872076473482),
              ('C0073', 0.9430730029733194)],
             'C0061': [('C0197', 0.9968805614990002),
              ('C0132', 0.994839270903884),
              ('C0009', 0.9921726585988702)],
             'C0062': [('C0073', 0.9943021933080288),
              ('C0074', 0.9893540659846934),
              ('C0198', 0.9873028599178197)],
             'C0063': [('C0089', 0.9963081922962623),
              ('C0167', 0.9942428836160518),
              ('C0014', 0.9931371904114961)],
             'C0064': [('C0037', 0.9996896922085182),
              ('C0149', 0.9988715866362793),
              ('C0170', 0.9976457941521848)],
             'C0065': [('C0059', 0.9941763383783092),
              ('C0046', 0.9855410485680943),
              ('C0008', 0.9845964702747744)],
             'C0066': [('C0044', 0.9986158382680075),
              ('C0167', 0.9956268222201236),
              ('C0089', 0.9943865994150765)],
             'C0067': [('C0034', 0.9954663667626811),
              ('C0068', 0.9834350464884052),
              ('C0185', 0.973277340017153)],
             'C0068': [('C0156', 0.9933259841770986),
              ('C0067', 0.9834350464884052),
              ('C0034', 0.9816516849244763)],
             'C0069': [('C0164', 0.9998909431886454),
              ('C0019', 0.9960032207136575),
              ('C0064', 0.9948538378698853)],
             'C0070': [('C0135', 0.9986894893557774),
              ('C0166', 0.9981871935536322),
              ('C0086', 0.9963018607417862)],
             'C0071': [('C0112', 0.9985010200078188),
              ('C0025', 0.9959899670574784),
              ('C0192', 0.994757676981292)],
             'C0072': [('C0055', 0.9997877646220754),
              ('C0030', 0.9996519730675864),
              ('C0189', 0.9990659968541562)],
             'C0073': [('C0166', 0.9961200334713933),
              ('C0199', 0.9957715179681133),
              ('C0010', 0.994934004714027)],
             'C0074': [('C0135', 0.9954831086912072),
              ('C0073', 0.9948880723381508),
              ('C0166', 0.991898587395784)],
             'C0075': [('C0017', 0.9936457545226498),
              ('C0041', 0.9929886758443418),
              ('C0051', 0.9787397675046835)],
             'C0076': [('C0191', 0.9992224949035626),
              ('C0137', 0.9982555537997171),
              ('C0031', 0.9978092097758744)],
             'C0077': [('C0095', 0.9945332590393997),
              ('C0120', 0.9908481720925553),
              ('C0133', 0.9815160259514655)],
             'C0078': [('C0080', 0.9997593701127169),
              ('C0110', 0.9990343523531147),
              ('C0115', 0.9741722434986353)],
             'C0079': [('C0125', 0.9944549288695624),
              ('C0160', 0.990335506272856),
              ('C0038', 0.9890654142213733)],
             'C0080': [('C0078', 0.9997593701127169),
              ('C0110', 0.9997513375753095),
              ('C0115', 0.9767696209837365)],
             'C0081': [('C0127', 0.9983123623697877),
              ('C0057', 0.9979728972676489),
              ('C0105', 0.9971018062828005)],
             'C0082': [('C0188', 0.999259812650985),
              ('C0102', 0.996832387329907),
              ('C0104', 0.9955204006857012)],
             'C0083': [('C0071', 0.9940946923553444),
              ('C0025', 0.9874055662628054),
              ('C0112', 0.9871185673330036)],
             'C0084': [('C0093', 0.9988696805653058),
              ('C0136', 0.994141147566172),
              ('C0143', 0.9900434755269483)],
             'C0085': [('C0129', 0.9989922801883206),
              ('C0052', 0.9980470233404627),
              ('C0031', 0.9953549166389567)],
             'C0086': [('C0070', 0.9963018607417862),
              ('C0166', 0.9961423122936967),
              ('C0179', 0.996022141521399)],
             'C0087': [('C0013', 0.9976830617825865),
              ('C0012', 0.9963287760154536),
              ('C0039', 0.9913106711826822)],
             'C0088': [('C0178', 0.9960024076191965),
              ('C0193', 0.9945947876752006),
              ('C0186', 0.9862416094026304)],
             'C0089': [('C0167', 0.997417383328929),
              ('C0044', 0.9969877390592432),
              ('C0063', 0.9963081922962623)],
             'C0090': [('C0022', 0.9972153754625104),
              ('C0021', 0.996447785070958),
              ('C0101', 0.9943422408449405)],
             'C0091': [('C0169', 0.9946807505588018),
              ('C0181', 0.9911662593143915),
              ('C0148', 0.9876899847530838)],
             'C0092': [('C0115', 0.9991246823248272),
              ('C0177', 0.9971182912063807),
              ('C0146', 0.9965639926353849)],
             'C0093': [('C0084', 0.9988696805653058),
              ('C0136', 0.9925599412379027),
              ('C0143', 0.9925081976618887)],
             'C0094': [('C0042', 0.9893296638075783),
              ('C0185', 0.9819210809504862),
              ('C0015', 0.9792266951798294)],
             'C0095': [('C0077', 0.9945332590393997),
              ('C0130', 0.9914664794603577),
              ('C0120', 0.9877495897088557)],
             'C0096': [('C0171', 0.9981750509791187),
              ('C0168', 0.9935914920444351),
              ('C0153', 0.9927873714982088)],
             'C0097': [('C0180', 0.9955725369583575),
              ('C0128', 0.9933351903279071),
              ('C0123', 0.9875957473975869)],
             'C0098': [('C0047', 0.9985024270829038),
              ('C0024', 0.9981403462639572),
              ('C0194', 0.9976519432490067)],
             'C0099': [('C0155', 0.9956025070422414),
              ('C0169', 0.9890276567222933),
              ('C0163', 0.9859170465682697)],
             'C0100': [('C0051', 0.9975178726992897),
              ('C0170', 0.997459408914382),
              ('C0037', 0.9971123116043082)],
             'C0101': [('C0145', 0.9999220089118896),
              ('C0021', 0.9960975556606614),
              ('C0090', 0.9943422408449405)],
             'C0102': [('C0188', 0.9984809685656258),
              ('C0104', 0.9984027607828401),
              ('C0082', 0.996832387329907)],
             'C0103': [('C0199', 0.9943550792998891),
              ('C0135', 0.9915564857810844),
              ('C0166', 0.9904615760686353)],
             'C0104': [('C0102', 0.9984027607828401),
              ('C0188', 0.9975661657623318),
              ('C0004', 0.9965264907801978)],
             'C0105': [('C0057', 0.9998927888620271),
              ('C0182', 0.9980431724052056),
              ('C0081', 0.9971018062828005)],
             'C0106': [('C0134', 0.9972059313243092),
              ('C0027', 0.9967910053839968),
              ('C0002', 0.992222812334218)],
             'C0107': [('C0133', 0.9963587779329887),
              ('C0181', 0.9958062617941684),
              ('C0158', 0.9953269451677977)],
             'C0108': [('C0153', 0.9974706827474054),
              ('C0102', 0.9933522982355024),
              ('C0113', 0.9928642599171179)],
             'C0109': [('C0122', 0.9693349656040074),
              ('C0156', 0.9556464205489729),
              ('C0139', 0.951179040847244)],
             'C0110': [('C0080', 0.9997513375753095),
              ('C0078', 0.9990343523531147),
              ('C0115', 0.9782148982758015)],
             'C0111': [('C0081', 0.9934610201955204),
              ('C0172', 0.9909617887305096),
              ('C0127', 0.9905522859321543)],
             'C0112': [('C0071', 0.9985010200078188),
              ('C0192', 0.996322382174485),
              ('C0025', 0.9956809596066465)],
             'C0113': [('C0004', 0.998437721375097),
              ('C0102', 0.9964986924693706),
              ('C0153', 0.9946999538535136)],
             'C0114': [('C0182', 0.9990164581430858),
              ('C0105', 0.9961176089304756),
              ('C0057', 0.9952091189711927)],
             'C0115': [('C0092', 0.9991246823248272),
              ('C0146', 0.997206603839929),
              ('C0177', 0.9968913332651932)],
             'C0116': [('C0154', 0.9985305289892545),
              ('C0189', 0.9982351968829395),
              ('C0047', 0.9979389660913893)],
             'C0117': [('C0026', 0.999606300471337),
              ('C0183', 0.9980515983509325),
              ('C0016', 0.9971599388997526)],
             'C0118': [('C0184', 0.9997006502096671),
              ('C0152', 0.9973726201275666),
              ('C0001', 0.9956988708316693)],
             'C0119': [('C0121', 0.9955136337464371),
              ('C0019', 0.989238903368389),
              ('C0069', 0.9881007052438513)],
             'C0120': [('C0133', 0.9958568029367191),
              ('C0158', 0.9933239496212066),
              ('C0077', 0.9908481720925553)],
             'C0121': [('C0119', 0.9955136337464371),
              ('C0197', 0.9935811936767317),
              ('C0061', 0.9913478554618396)],
             'C0122': [('C0139', 0.9894463204789388),
              ('C0160', 0.9838972592036616),
              ('C0038', 0.9807501835062343)],
             'C0123': [('C0140', 0.9988872005479427),
              ('C0128', 0.9983407650018713),
              ('C0043', 0.994906924867191)],
             'C0124': [('C0057', 0.9973094056441798),
              ('C0105', 0.9968519273446317),
              ('C0081', 0.9949168765998319)],
             'C0125': [('C0029', 0.9954513886583448),
              ('C0079', 0.9944549288695624),
              ('C0038', 0.9943791398517495)],
             'C0126': [('C0187', 0.9977762869541495),
              ('C0048', 0.9976831199642258),
              ('C0195', 0.9968064445915189)],
             'C0127': [('C0081', 0.9983123623697877),
              ('C0172', 0.9980608831202482),
              ('C0057', 0.9935060031026952)],
             'C0128': [('C0123', 0.9983407650018713),
              ('C0140', 0.9945309978735711),
              ('C0097', 0.9933351903279071)],
             'C0129': [('C0052', 0.9997531644462248),
              ('C0085', 0.9989922801883206),
              ('C0031', 0.9974897446848581)],
             'C0130': [('C0095', 0.9914664794603577),
              ('C0077', 0.9767220877170162),
              ('C0120', 0.9594520339561647)],
             'C0131': [('C0029', 0.9933447022865548),
              ('C0125', 0.9909176432855185),
              ('C0176', 0.9904454180943081)],
             'C0132': [('C0197', 0.9964054881150131),
              ('C0061', 0.994839270903884),
              ('C0009', 0.9845580720068873)],
             'C0133': [('C0158', 0.9968949870809036),
              ('C0107', 0.9963587779329887),
              ('C0120', 0.9958568029367191)],
             'C0134': [('C0106', 0.9972059313243092),
              ('C0027', 0.9936305815598201),
              ('C0002', 0.9867063906663853)],
             'C0135': [('C0070', 0.9986894893557774),
              ('C0166', 0.9978993417947664),
              ('C0199', 0.9955041899810985)],
             'C0136': [('C0143', 0.9959296491893802),
              ('C0084', 0.994141147566172),
              ('C0093', 0.9925599412379027)],
             'C0137': [('C0191', 0.9998071558561605),
              ('C0048', 0.9993922535765488),
              ('C0076', 0.9982555537997171)],
             'C0138': [('C0143', 0.9924305895182589),
              ('C0028', 0.98843016760985),
              ('C0136', 0.988375413818377)],

In [13]:
lookalike_df = pd.DataFrame({
    'CustomerID': lookalike_results.keys(),
    'Lookalikes': [str(v) for v in lookalike_results.values()]
})
lookalike_df.to_csv("Lookalike.csv", index=False)
lookalike_df.info

<bound method DataFrame.info of     CustomerID                                         Lookalikes
0        C0001  [('C0174', 0.9994009524324653), ('C0011', 0.99...
1        C0002  [('C0027', 0.9972484435911428), ('C0159', 0.99...
2        C0003  [('C0190', 0.9980730091178139), ('C0031', 0.99...
3        C0004  [('C0113', 0.998437721375097), ('C0104', 0.996...
4        C0005  [('C0159', 0.9996045162448027), ('C0007', 0.99...
..         ...                                                ...
195      C0196  [('C0070', 0.9860286066501067), ('C0074', 0.98...
196      C0197  [('C0061', 0.9968805614990002), ('C0132', 0.99...
197      C0198  [('C0060', 0.9918475626915497), ('C0062', 0.98...
198      C0199  [('C0166', 0.998113407756776), ('C0010', 0.996...
199      C0200  [('C0022', 0.9973708928483915), ('C0101', 0.99...

[200 rows x 2 columns]>

In [14]:
lookalike_df.head(20)

   CustomerID                                         Lookalikes
0       C0001  [('C0174', 0.9994009524324653), ('C0011', 0.99...
1       C0002  [('C0027', 0.9972484435911428), ('C0159', 0.99...
2       C0003  [('C0190', 0.9980730091178139), ('C0031', 0.99...
3       C0004  [('C0113', 0.998437721375097), ('C0104', 0.996...
4       C0005  [('C0159', 0.9996045162448027), ('C0007', 0.99...
5       C0006  [('C0048', 0.9978218308503074), ('C0187', 0.99...
6       C0007  [('C0159', 0.9990960415792354), ('C0005', 0.99...
7       C0008  [('C0098', 0.9914403319247044), ('C0049', 0.99...
8       C0009  [('C0061', 0.9921726585988702), ('C0121', 0.98...
9       C0010  [('C0166', 0.9980690095811071), ('C0199', 0.99...
10      C0011  [('C0001', 0.9993929212174698), ('C0174', 0.99...
11      C0012  [('C0039', 0.99854931923928), ('C0013', 0.9977...
12      C0013  [('C0012', 0.9977275290972034), ('C0087', 0.99...
13      C0014  [('C0063', 0.9931371904114961), ('C0089', 0.98...
14      C0015  [('C0042', 0.990745388417061), ('C0094', 0.979...
15      C0016  [('C0183', 0.9992518786976379), ('C0154', 0.99...
16      C0017  [('C0041', 0.9940206614500897), ('C0075', 0.99...
17      C0018  [('C0046', 0.9937654266538506), ('C0183', 0.99...
18      C0019  [('C0069', 0.9960032207136575), ('C0164', 0.99...
19      C0020  [('C0058', 0.9984372233711026), ('C0033', 0.99...